# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
playground.*
perf.*

main.*

benchmark/*.dlrc

# ignore benchmark libraries
benchmark/wide-integer
benchmark/boost

tests/*.cmake
tests/CMakeFiles
tests/CMakeCache.txt
tests/Makefile